<a href="/">iLoveMyCity!</a>
<ul>
  <li><a href="/berlin">Berlin</a></li>
  <li><a href="/paris">Paris</a></li>
  <li><a href="/madrid">Madrid</a></li>
  <li><a href="/london">London</a></li>
  <li><a href="/newyork">New York</a></li>
</ul>

